<!-- wp:template-part {"slug":"header-basic"} /-->
<!-- wp:pattern {"slug":"pressed_steel/hero-basic"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<div class="pageBody gridWrap wp-block-group" style="min-height: 50vh; padding: 10vh 0;">
    <div class="featuresBlockHeading" style="margin-bottom: 4rem;min-width: 28.8vw;">
        <div class="featuresBlockHeadingTitle" style="">
            <span class="headingTitle __HighActive">01</span>
            <!-- wp:heading {"textAlign":"right"} -->
            <span>
                 <!-- wp:post-title /-->
            </span>
            <!-- /wp:heading -->
        </div>
    </div>
    <div class="pageCartBodyContent" style="padding: 16px 0;">
        <!-- wp:post-content /-->
    </div>
</div>
<!-- wp:pattern {"slug":"pressed_steel/call-to-action"} /-->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
